@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
.container {
  @include container;
}

main {
  width: 100%;
  margin: $spacing-base auto;
  border: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
  padding: $spacing-base * 4 $spacing-base * 2;
  border-radius: 4px;
  background-color: $color-light;
  h1 {
    margin: 0 0 $spacing-base * 2 0;
    text-align: center;
  }
  .fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-base * 2;
  }
  .group {
    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        margin-left: $spacing-base;
        font-size: $font-size-normal;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .justify {
      display: block;
      text-align: justify;
    }
    .details-wrapper {
      overflow-x: scroll;
      .details-group-grid {
        display: grid;
        grid-template-columns: 150px 1fr;

        .details-name {
          text-align: right;
          span {
            font-weight: 600;
          }
        }
        .details-values {
          text-align: left;
        }
        span {
          white-space: nowrap;
          padding: $spacing-base * 0.5 $spacing-base;
          border: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
          display: block;
        }
      }
    }
    .subjects-table {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      div {
        white-space: nowrap;
        padding: $spacing-base * 0.5 $spacing-base;
        border: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
        overflow: hidden;
      }
    }
  }

  button {
    @include button($color-main-2);
  }
  .btn-full {
    width: 100%;
  }

  // Spiner u dugmetu
  .loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    app-loading-spinner {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  #toLogin {
    margin: 0.5rem 0;
    display: block;
    a {
      color: $color-main-500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include sm() {
  main {
    width: 80%;
    .fields-wrapper {
      .g-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .group {
      .subjects-table {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@include lg() {
  main {
    .group {
      .subjects-table {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@include xl() {
  main {
    width: 70%;
  }
}
