@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
.wrapper {
  position: relative;
}

app-sidebar {
  position: fixed;
  z-index: 100;
  top: $navbar-height;
  bottom: 0;
  height: 100vh;
  transition: transform 0.3s;
  transform: translateX(-100%);

  &.active {
    transform: translateX(0%);
  }
}
.content {
  width: 100%;
  position: absolute;
  left: 0;
  transition: left 0.3s, width 0.3s;
  &.sidebarActive {
    left: 0;
    width: 100%;
  }
}
@include md {
  .content {
    &.sidebarActive {
      left: $sidebar-width;
      width: calc(100% - $sidebar-width);
    }
  }
  app-sidebar {
    top: 0;
  }
}
