@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
.container {
  @include container;
}

main {
  width: 100%;
  margin: $spacing-base auto;
  border: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
  padding: $spacing-base * 4 $spacing-base * 2;
  border-radius: 4px;
  background-color: $color-light;
  h1 {
    margin: 0 0 $spacing-base * 2 0;
    text-align: center;
  }
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: $spacing-big;
    aside {
      display: grid;
      grid-template-columns: 1fr;
      gap: $spacing-base;

      button {
        @include button-gray;
      }
    }
  }
  .fields-wrapper {
    .g-2 {
      display: grid;
      column-gap: $spacing-base;
      row-gap: $spacing-base * 2;
      grid-template-columns: repeat(1, 1fr);
      .subject-box-wrapper {
        display: flex;
        flex-wrap: wrap;
        .subject-box {
          position: relative;
          z-index: 10;
          height: calc(100% - 36px);
          padding: $spacing-base;
          border-radius: $base-border-radius $base-border-radius 0 0;
          border: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
          color: $color-secondary;
          transition: all 0.3s;
          width: 100%;
          a {
            &:hover {
              text-decoration: underline;
            }
          }
          h3 {
            margin: 0 0 $spacing-base * 0.5 0;
          }
          p {
            margin: $spacing-base 0 0 0;
          }
        }
        &.selected {
          .subject-box {
            background-color: rgba($color: $color-main-2, $alpha: 0.3);
            color: $color-dark;
          }
        }
        button {
          border-radius: 0 0 $base-border-radius $base-border-radius !important;
          width: 100%;
          &.remove {
            @include button($color-danger, $color-light);
          }
        }
      }
    }
    .spacer {
      height: 1px;
      background-color: rgba($color: $color-secondary, $alpha: 0.5);
      width: 100%;
      margin: $spacing-big 0;
    }
    .selected-subjects-box {
      margin-bottom: $spacing-big;
      h2 {
        text-align: center;
        margin-top: 0;
      }
      .subject-button-wrapper {
        display: flex;
        gap: $spacing-base;
        flex-wrap: wrap;
        .subject-button {
          @include button($color-danger, $color-light);
        }
      }
    }
  }
  .form-group {
    label {
      display: inline-block;
      // Zvezdica
      span.required {
        color: $color-danger;
      }
    }
    input {
      @include placeholder-color;
      @include autoCompleteBg;
      @include input-gray();
      display: block;
      width: 100%;
    }
    button {
      display: block;
      &.btn-full {
        width: 100%;
      }
    }
    .invalid {
      border-bottom: 2px solid $color-danger !important;
    }
  }
  .user-type-picker {
    h3 {
      text-align: center;
    }
    .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin: 0 auto;
      button {
        width: 100%;
        cursor: pointer;
        border-radius: 0px;
        color: $color-secondary;
        background-color: $color-light;
        border: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
        padding: 8px 20px;
        transition: all 0.3s;
        &:hover {
          color: $color-dark;
          background-color: darken($color: $color-main-2, $amount: 10);
        }
        &.active {
          color: $color-dark;
          background-color: $color-main-2;
        }
        &:first-of-type {
          border-radius: 4px 0 0 4px;
          position: relative;
          left: 1px;
        }
        &:last-of-type {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }

  button {
    @include button($color-main-2);
  }

  // Spiner u dugmetu
  .loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    app-loading-spinner {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  // Greske
  .error-container {
    margin-top: 0.5rem;
    color: $color-danger;
    small {
      display: block;
      width: 100%;
    }
  }
  #toLogin {
    margin: 0.5rem 0;
    display: block;
    a {
      color: $color-main-500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (min-width: 400px) {
  main {
    // width: 80%;
    .content-wrapper {
      aside {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@include sm() {
  main {
    // width: 80%;
    .content-wrapper {
      grid-template-columns: auto 1fr;
      aside {
        grid-template-columns: 1fr;
      }
    }
    .fields-wrapper {
      .g-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@include xl() {
  main {
    .fields-wrapper {
      .g-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
