@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
footer {
  padding: 3rem 0 0 0;

  color: $color-secondary;

  .container {
    @include container;
    .footer-items-wrapper {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: $spacing-base * 4;
      div {
        & > * {
          display: block;
          text-align: justify;
        }
        h5 {
          margin: 0 0 $spacing-base 0;
          font-size: $font-size-bigger;

          color: $color-dark;
        }

        a {
          margin-bottom: $spacing-base;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .footer-links-wrapper {
      border-top: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
      padding: 1rem 0;
      font-size: 0.9rem;
      .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 $spacing-base * 0.5;
        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 100px;
          transition: color 0.3s;
          &:hover {
            color: darken(
              $color: rgba($color: $color-secondary, $alpha: 1),
              $amount: 20
            );
          }
        }
      }
    }
    .footer-copyright {
      border-top: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
      padding: 1rem 0;
      text-align: center;
    }
  }
}
@include xs() {
  footer {
    .container {
      @include container;
      .footer-items-wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
@include lg() {
  footer {
    .container {
      @include container;
      .footer-items-wrapper {
        grid-template-columns: 2fr 1fr 1fr 1fr;
      }
    }
  }
}
