<footer>
  <div class="container">
    <div class="footer-items-wrapper">
      <div>
        <h5>WebŠkola</h5>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione
          dolore quidem quibusdam placeat fugit molestias maiores voluptatem
          reiciendis quae! Cum sit modi doloremque. Vero dolor facilis
          voluptatum sequi neque placeat.
        </p>
      </div>
      <div>
        <h5>Navigacija</h5>
        <a href="">Počenta</a>
        <a href="">Pretraga</a>
        <a href="">Informacije</a>
      </div>
      <div>
        <h5>Contact</h5>
        <a href="">Pomoć & Podrška</a>
        <a href="">FAQ</a>
      </div>
      <div>
        <h5>Profil</h5>
        <a href="">Registracija</a>
        <a href="">Login</a>
        <a href="">Moj Profil</a>
      </div>
    </div>
    <div class="footer-links-wrapper">
      <span>Zapratite nas</span>
      <span class="button">
        <a href="">
          <i class="fab fa-instagram"></i>
        </a>
      </span>
      <span class="button">
        <a href="">
          <i class="fab fa-facebook-f"></i>
        </a>
      </span>
      <span class="button">
        <a href="">
          <i class="fab fa-youtube"></i>
        </a>
      </span>
      <span class="button">
        <a href="">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </span>
      <span class="button">
        <a href="">
          <i class="fab fa-github"></i>
        </a>
      </span>
    </div>
    <div class="footer-copyright">
      <small>&copy; {{ currentYear }} WebŠkola</small>
    </div>
  </div>
</footer>
