<main>
  <div class="container">
    <div class="form-page-grid">
      <aside>
        <div class="sticky">
          <h1>Prijavljivanje studenta</h1>
          <div>
            <a [routerLink]="['/auth', 'signup', 'student']"
              >Registrujte se kao student</a
            >
            <a [routerLink]="['/auth', 'signup', 'professor']"
              >Registrujte se kao professor</a
            >
            <a [routerLink]="['/auth', 'login', 'professor']"
              >Ulogujte se kao profesor</a
            >
          </div>
          <div>
            <!-- TODO dodati kada se naprave stranice -->
            <span>Pročitajte <a routerLink="#">uslove korišćenja</a></span>
            <span
              >Dešava se greška? <a routerLink="#">Kontaktirajte nas</a></span
            >
          </div>
          <div *ngIf="internalErrors.length > 0" class="error-container">
            <span *ngFor="let err of internalErrors">
              {{ err }}
            </span>
          </div>
          <div>
            <img src="assets\images\illustrations\login.svg" alt="Profesor" />
          </div>
        </div>
      </aside>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-wrapper">
          <div class="group">
            <h3>Profilni podaci</h3>
            <div class="form-group">
              <label for="username">Korisničko ime</label>
              <input
                formControlName="username"
                type="text"
                id="username"
                #usernameField
                placeholder="Korisničko ime"
                [ngClass]="{
                  valid:
                    getFormControl('username').valid &&
                    (getFormControl('username').touched ||
                      getFormControl('username').dirty),
                  invalid:
                    getFormControl('username').invalid &&
                    (getFormControl('username').touched ||
                      getFormControl('username').dirty)
                }"
              />
              <div
                class="error-container"
                *ngIf="
                  getFormControl('username').invalid &&
                  (getFormControl('username').touched ||
                    getFormControl('username').dirty)
                "
              >
                <small *ngIf="getFormControl('username').errors?.['required']">
                  Korisničko ime je obavezno
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Lozinka</label>
              <input
                formControlName="password"
                type="password"
                id="password"
                #passwordField
                placeholder="Lozinka"
                [ngClass]="{
                  valid:
                    getFormControl('password').valid &&
                    (getFormControl('password').touched ||
                      getFormControl('password').dirty),
                  invalid:
                    getFormControl('password').invalid &&
                    (getFormControl('password').touched ||
                      getFormControl('password').dirty)
                }"
              />
              <div
                class="error-container"
                *ngIf="
                  getFormControl('password').invalid &&
                  (getFormControl('password').touched ||
                    getFormControl('password').dirty)
                "
              >
                <small *ngIf="getFormControl('password').errors?.['required']">
                  Lozinka je obavezna
                </small>
              </div>
            </div>
            <div>
              <button
                class="span-full mt loading-spinner-container"
                [disabled]="loginForm.invalid"
              >
                Prijavite se
                <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
              </button>
              <div
                class="error-container center"
                *ngIf="afterSubmitErrors.length > 0"
              >
                <small *ngFor="let err of afterSubmitErrors">{{ err }}</small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
