@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
.container {
  @include container;
}

main {
  width: 100%;
  margin: $spacing-base auto;
  border: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
  padding: $spacing-base * 4 $spacing-base * 2;
  border-radius: 4px;
  background-color: $color-light;
  h1 {
    margin: $spacing-base * 2 0;
    text-align: center;
  }
  .fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-base * 2;
    .g-2 {
      display: grid;
      column-gap: $spacing-base;
      row-gap: $spacing-base * 2;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .form-group {
    label {
      display: inline-block;
    }
    input {
      @include placeholder-color;
      @include autoCompleteBg;
      @include input-gray();
      display: block;
      width: 100%;
    }
    button {
      display: block;
      &.btn-full {
        width: 100%;
      }
    }
    .invalid {
      border-bottom: 2px solid $color-danger !important;
    }
  }
  .user-type-picker {
    h3 {
      text-align: center;
    }
    .buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin: 0 auto;
      button {
        width: 100%;
        cursor: pointer;
        border-radius: 0px;
        color: $color-secondary;
        background-color: $color-light;
        border: 1px solid rgba($color: $color-secondary, $alpha: 0.5);
        padding: 8px 20px;
        transition: all 0.3s;
        &:hover {
          color: $color-dark;
          background-color: darken($color: $color-main-2, $amount: 10);
        }
        &.active {
          color: $color-dark;
          background-color: $color-main-2;
        }
        &:first-of-type {
          border-radius: 4px 0 0 4px;
          position: relative;
          left: 1px;
        }
        &:last-of-type {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
  aside {
    padding: 1rem;
    .sticky {
      position: sticky;
      // 77px je velicina navbara
      // 1rem padding od containera
      // 1rem padding od aside-a
      top: calc(77px + 2rem);
      border: none;
    }
    h1 {
      margin-top: 0;
      font-weight: 600;
      font-size: 1.75rem;
    }
    div {
      border-top: 2px solid rgba($color: $color-secondary, $alpha: 0.5);
      //   text-align: center;
      & > * {
        margin: 0.5rem;
        display: block;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .error-container {
      color: $color-danger;
      small {
        display: block;
        width: 100%;
      }
    }
  }
  button {
    @include button($color-main-2);
  }

  // Pomocne klase
  .mt {
    margin-top: $spacing-base * 2;
  }
  .mb {
    margin-bottom: $spacing-base;
  }
  .span-full {
    width: 100%;
  }

  // Spiner u dugmetu
  .loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    app-loading-spinner {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  // Greske
  .error-container {
    margin-top: 0.5rem;
    color: $color-danger;
    small {
      display: block;
      width: 100%;
    }
  }
  #toLogin {
    margin: 0.5rem 0;
    display: block;
    a {
      color: $color-main-500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .form-wrapper {
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $spacing-big;

    h3 {
      margin-top: 0;
      text-align: center;
      font-weight: 400;
      font-size: 1.5rem;
      color: $color-dark;
    }
    .group {
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr;
      gap: 2rem;
      .items-list {
        span {
          cursor: pointer;
          display: block;
          white-space: nowrap;
          color: $color-secondary;
          i {
            cursor: pointer;
            margin-right: 0.25rem;
            color: $color-danger;
          }
        }
      }

      .form-group {
        // Senka na poljima
        // transition: box-shadow 0.3s;
        // &:hover {
        //   box-shadow: 8px 8px 10px rgba($color: #000000, $alpha: 0.1);
        // }
        // &:focus-within {
        //   box-shadow: 8px 8px 10px rgba($color: #000000, $alpha: 0.1);
        // }
        transition: transform 0.3s;

        // &:focus-within {
        //   // transform: scale(1.1);
        // }
        label {
          display: block;
        }

        // Zvezdica
        span.required {
          color: $color-danger;
        }
        select {
          cursor: pointer;
        }
        input,
        select {
          display: block;
          width: 100%;

          @include input-gray;
          @include placeholder-color;
          @include autoCompleteBg;
        }

        .invalid {
          border-bottom: 2px solid $color-danger !important;
        }
        // .valid {
        //   // border-bottom: 2px solid $color-main-2;
        // }
      }
    }
  }
}

@include sm() {
  main {
    width: 80%;
    .form-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    .fields-wrapper {
      .g-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@include xl() {
  main {
    width: 60%;
    .form-page-grid {
      grid-template-columns: 1fr 2fr;
    }
  }
}
@include xl() {
  main {
    .form-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
