@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
aside {
  background-color: rgba($color: $color-light, $alpha: 0.9);
  backdrop-filter: blur(3px);
  padding: 0 $spacing-base * 2;
  min-height: 100%;

  font-weight: 600;
  @include shadow-sm;

  .sidebar-wrapper {
    padding-top: $spacing-base * 2;
    display: flex;
    flex-direction: column;
    row-gap: $spacing-big;
    .links-group {
      .links-group-name {
        margin-bottom: $spacing-base * 2;
        margin-left: $spacing-base;
        display: block;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: $spacing-base;
        a,
        button {
          cursor: pointer;
          user-select: none;
          border: none;
          background-color: transparent;
          white-space: nowrap;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding: $spacing-base * 0.5 $spacing-base;
          color: $color-secondary;
          border-radius: $base-border-radius;
          transition: all 0.3s;
          &:hover {
            // background-color: $color-main-1;
            color: $color-dark;
            @include shadow-normal;
          }
          &.active {
            // background-color: $color-main-1;
            color: $color-dark;
          }
          i {
            display: inline-block;
            min-width: $spacing-base * 2;
            margin-right: $spacing-base * 0.5;
          }
        }
      }
      &.color-1 {
        ul {
          a,
          button {
            &:hover {
              background-color: $color-main-1 !important;
            }
            &.active {
              background-color: $color-main-1 !important;
            }
          }
        }
      }
      &.color-2 {
        ul {
          a,
          button {
            &:hover {
              background-color: $color-main-2 !important;
            }
            &.active {
              background-color: $color-main-2 !important;
            }
          }
        }
      }
      &.color-3 {
        ul {
          a,
          button {
            &:hover {
              background-color: $color-main-3 !important;
            }
            &.active {
              background-color: $color-main-3 !important;
            }
          }
        }
      }
    }
  }
}
@include md {
  aside {
    .sidebar-wrapper {
      padding-top: $navbar-height;
    }
  }
}
