<nav>
  <div class="container">
    <div class="nav-header">
      <button (click)="toggleNavContent()"><i class="fas fa-bars"></i></button>
      <span class="logo">WebŠkola</span>
    </div>
    <div class="nav-content" [ngClass]="{ active: navContentVisible }">
      <span class="search-field">
        <input type="text" placeholder="Pretraži..." />
        <button>
          <i class="fas fa-search"></i>
        </button>
      </span>
      <div>
        <div class="links">
          <div>Početna</div>
          <div>Pretraga</div>
          <div>Informacije</div>
        </div>
        <div class="buttons">
          <a [routerLink]="['auth', 'login', 'student']">Login</a>
          <a [routerLink]="['auth', 'signup', 'student']" class="background"
            >Signup</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
