<nav [ngClass]="{ sidebarActive: sidebarState }">
  <div class="container">
    <button
      class="icon-btn"
      (click)="toggleSidebar()"
      [ngClass]="{ active: sidebarState }"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="nav-content">
      <div class="search-wrapper">
        <input type="text" placeholder="Pretraži..." />
        <i class="fas fa-search"></i>
      </div>
      <div class="auth-links" *ngIf="!loginStatus">
        <a [routerLink]="['auth', 'login']">Login</a>
        <a [routerLink]="['auth', 'signup']">Registruj se</a>
      </div>
      <div class="profile-details" *ngIf="loginStatus">
        <a [routerLink]="['/profile', user.username]">
          <img
            src="assets\images\profile\default-profile.jpg"
            alt="Profile pictire"
          />
        </a>
        <span>{{ user.firstname }} {{ user.lastname }}</span>
      </div>
      <a class="icon-btn notification-btn" routerLink="" *ngIf="loginStatus">
        <i class="fas fa-bell"></i>
      </a>
    </div>
  </div>
</nav>
