@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  color: $color-dark;
  transition: left 0.3s;
  background-color: rgba($color: $color-light, $alpha: 0.9);
  backdrop-filter: blur(3px);
  @include shadow-sm;
  z-index: 1000;
  &.sidebarActive {
    left: 0;
  }

  .icon-btn {
    @include icon-btn;
  }
  .search-wrapper {
    position: relative;
    &:focus-within,
    &:hover {
      i {
        color: $color-dark;
      }
    }
    input {
      @include input-gray;
      padding-left: $spacing-base * 3;
      min-width: 100%;
    }
    i {
      transition: color 0.3s;
      color: $color-secondary;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: $spacing-base;
      display: inline-block;
    }
  }
  .nav-content {
    display: flex;
    column-gap: $spacing-base * 3;
  }
  .notification-btn {
    display: none;
  }
  .profile-details {
    display: none;
    align-items: center;
    img {
      @include field-gray;
      @include icon-btn-shape;
      object-fit: cover;
      padding: 0;
      margin-right: $spacing-base;
      border: none;
    }
  }
  .auth-links {
    display: flex;
    align-items: center;
    gap: $spacing-base;
    a {
      @include field-gray;
    }
  }
}
.container {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-base * 2;
}
@include md {
  nav {
    transition: left 0.3s;
    &.sidebarActive {
      left: $sidebar-width;
    }
  }
}
@media only screen and (min-width: 400px) {
  nav {
    .notification-btn {
      display: flex;
    }
  }
}
@media only screen and (min-width: 471px) {
  nav {
    .search-wrapper {
      input {
        min-width: 300px;
      }
    }
  }
}
@media only screen and (min-width: 655px) {
  nav {
    .profile-details {
      display: flex;
    }
  }
}
