@import "src/assets/styles/vars";
@import "src/assets/styles/mixins";
main {
  @include container;
  .form-page-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
  }
  aside {
    padding: 1rem;
    h1 {
      margin-top: 0;
      text-align: center;
      font-weight: 600;
      font-size: 2rem;
      color: $color-secondary-600;
    }
    div {
      border-top: 2px solid $color-secondary-100;
      text-align: center;
      & > * {
        margin: 0.5rem;
        display: block;
      }
      a {
        color: $color-main-500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  button {
    cursor: pointer;
    @include button;
    background-color: $color-main-500;
    color: $color-light;
    transition: all 0.3s;
    &:hover {
      background-color: darken($color: $color-main-500, $amount: 10);
    }
  }
  .mt {
    margin-top: 1rem;
  }
  .span-full {
    width: 100%;
  }
  .form-wrapper {
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;

    h3 {
      margin-top: 0;
      text-align: center;
      font-weight: 400;
      font-size: 1.5rem;
      color: $color-secondary-600;
    }
    .group {
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr;
      gap: 2rem;
      .interests {
        span {
          white-space: nowrap;
          margin-right: 1rem;

          i {
            margin-right: 0.25rem;
            color: $color-danger-500;
          }
        }
      }

      .form-group {
        label {
          display: block;
          color: $color-main-500;
          font-size: 14px;
        }
        input,
        select {
          display: block;
          width: 100%;
          border: none;
          padding: 0.5rem 1rem;
          border-bottom: 2px solid $color-secondary-100;
          color: $color-secondary-400;
          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba($color: $color-secondary-400, $alpha: 0.5);
            opacity: 1; /* Firefox */
          }

          & :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgba($color: $color-secondary-400, $alpha: 0.5);
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@include sm() {
  main {
    .form-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include xl() {
  main {
    .form-page-grid {
      grid-template-columns: 1fr 2fr;
    }
  }
}
@include xl() {
  main {
    .form-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
